build/*
*.pyc
.idea/*
AlgoTrading/.idea/*
notebooks/.ipynb_checkpoints/*
notebooks/presentation/.ipynb_checkpoints/*
notebooks/presentation/performance/*
notebooks/performance/*
AlgoTrading/examples/performance/*
*.log
doc/_build/*
*.coverage
*.html
*.js
*.png
*.dat
*.css
*.c
*.pyd
*.csv
*.mat
tk.csv
DongXingDataCenter.py
DongXingSample.py
*.xlsx


