build/*
*.pyc
.idea/*
AlgoTrading/.idea/*
notebooks/.ipynb_checkpoints/*
notebooks/presentation/.ipynb_checkpoints/*
notebooks/presentation/performance/*
notebooks/performance/*
AlgoTrading/examples/performance/*
AlgoTrading/examples/FuturesExample.py
*.log
doc/_build/*
*.coverage
*.html
*.js
*.dat
*.css
*.c
*.pyd
*.csv
*.mat
tk.csv
DongXingSample.py
*.xlsx


