build/*
*.pyc
.idea/*
AlgoTrading/.idea/*
notebooks/.ipynb_checkpoints/*
notebooks/presentation/.ipynb_checkpoints/*
doc/_build/*
*.coverage
*.html
*.js
*.png
*.dat
*.css
*.c
*.pyd
tk.csv
DongXingDataCenter.py
DongXingSample.py
*.xlsx


